@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    position: fixed;
    top: 0;
    z-index: 1000;
}

.main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0.1em 0 0.1em 0;
    margin-left: 100px;
    top: 150px;
    position: relative;
    height: -webkit-fill-available;
}

/* .main h2 {
    padding-bottom: 0.50em;
    font-size: x-large;
    margin-left: 2em;
} */

.overview-box {
    display: flex;
    width: 70vw;
    height: 40vh;
    border: groove 2pt white;
    border-radius: 10px;
    margin: auto auto 2em auto;
}

.overview-box h3 {
    border-bottom: 0.5px solid black;
    font-size: 16pt;
    padding: 0.5em 0 0.5em 1em;

}

.title-box {
    border-radius: 10px;
    border: groove 2pt white;
    width: inherit;
    display: flex;
    flex-direction: column;

}

#search-box {

    position: absolute;
    top: 120px;
    left: 50vw;
    margin: 0.50em;


}

#search-box input {

    width: 20em;
    border-radius: 10px;
    padding: 0.2em;
    display: none;

}

table {
    border: 0.25pt black solid;
    border-radius: 10px;
    width: 73vw;
    padding: 0.5em;
    margin: 2em auto auto auto;

}

table td {
    border: 0.25pt black solid;
    height: 12em;
    text-align: center;

}

table thead {

    text-align: center;

}
#results{
    text-align: center;
    border: none;
    margin:auto;
    font-size: 5em;
}

.box{
    border: rgba(201, 201, 201, 0.1) 1px solid;
    border-radius: 10px;
    box-shadow: 2px 4px rgba(201, 201, 201, 0.1);
    margin:2em;
    height: -webkit-fill-available;
}

.box h3{
    font-size:2em;
    margin-left:1em;
    border-bottom: #D9D9D9 1.5px solid;
}

.reported{
    margin-left:1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reported fieldset{
    background-color: #D9D9D9;
    border-radius: 19px;
    width: 20em;
    height: 15em;
    display: flex;
    position: relative;
    margin:1em;
}

.reported legend{
    position: absolute;
    top: 1em;
    left: 1em;
}

.reported p{
    justify-content: center;
    margin:auto;
    display:flex;
    font-size:2em;
}
.remove{
    background-color:#C42121;
    color:white;
    font-family: 'League Gothic', sans-serif;
    border-radius: 7px;
    width: 4em;
    height: 2em;
    position:absolute;
    bottom: 1em;
    right:1em;
    font-size: 1em;
}