
.pfp{
    float: left;
    width:2%;
}
.fav{
    float:right;
    width:2%;
    padding-right: 2px;
}
.dropdown{
    float:right;
    width:2%;
}
.comments{
    float:left;
    width:2.5%;
}
.like{
    float:right;
    width:2.5%;

}
.dislike{
    float:right;
    width:2.5%;
    transform: rotate(180deg);
}
#cards{
    margin-top: 10em;
}
#commentPFP{
    height:3em;
    float:inline-start;
    border-radius: 3em;
    margin-right: 1em;
}
#discussionPFP{
    height:2em;
    float:inline-start;
    border-radius: 2em;

}
.discFav{
    height:2em;
    float:inline-end;
    margin-right: 0.5em;
}
#discDropdown{
    height:2em;
    float:inline-end;
}

#discomments{
    margin-top:10em;
    height: 50em;
}
#individualComment{
    height: 4em;
    text-align: left;
    border-bottom: groove;
}
#offcanvasBottom{
    height: 100%;
}
.wrapper {
    position: fixed;
    top: 0;
    z-index: 1000;
}
.card
{
    margin:1em;
}
.button-icon{
    width: 1em;
}
#like{
    
    width: 2em;
}
#dislike{
    
    width: 2em;
    transform: rotate(180deg);
}
footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footIcons{
    float: inline-end;
    display: flexbox;
    flex-direction: row;
    width: 2em;
}