@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

body , html {
    margin: 0;
    padding: 0;
}

header {
    background-color:  #D27FE0;
    background-size: cover;
    background: linear-gradient(to bottom, white, #D27FE0);
    width : 100%;
    height: 5em;
  
}
#main-logo a{
    text-decoration: none;
}

#main{
position: absolute;
width: 806px;
height: 907px;
left: 353px;
top: 75px;
background: linear-gradient(to bottom, #D27FE0, white);
margin-top: 0.55em
}

#main-logo {
    margin: 0.5em 0.5em 0.5em 0.5em;
    display: inline-flex;
    font-family: 'Spirax', sans-serif;
    font-size:2.5em ;
}

#profile-container {
    margin: 2em 0 2em 0em;
    text-align: center;
}

#pfp { 
    display: inline;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    }

 #change-info {
    display: block;
    align-items:center;
    text-align: center;
    padding: 0em 6.75em 0em 0em;
 }

 input {
    border-radius: 12pt;
    width: 25em;
    height: 3em;
    text-align: center;
    font-size: 13pt;
    padding: 0 2em 0 2em;
 }


 #done {
    width: 12.5em;
    margin: 2em 0em 0em 6em;
    height: 2.3em;
    align-items: center;
    font-size: 13pt;
    font-weight: bold;
    cursor: pointer;
    
 }

 .icon {
    display: flexbox;
    width: 1.75em;
    padding: 0em 0em 0em 0em;
    margin: 1em 1em 0em 5em;
 }

 .upload {
    position: absolute;
    left: 250px;
    text-align: center; 

 }



#username{
    background-color: transparent;
    border: none;
    display: inline;
}
 
