@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

body {
    margin: 0;
    padding: 0;
  }
  .title{
    font-size: 3em;
    font-family: 'Spirax', cursive;
  }
  .subtitle{
    font-size: 1.5em;
    font-family: 'Inspiration', cursive;
  }

  header {
    position: sticky;
    width: 100%;
    margin-top: auto;
    background-image: linear-gradient(rgb(217, 5, 221), rgb(254, 207, 255));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .hold{
    box-sizing: content-box;
    display:flex;
    flex-wrap: wrap;
    margin-left: 2em;
    margin-right: 2em;
    justify-content: center;
    column-gap: 3em;
    row-gap: 2em;
  }