
body , html {
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    margin: 0;
}

#header-img {   /*header img*/
    width: 100%;
    height: 400px;
    display: block; 
    margin-top: 0;
}


.pfp { /*profile picture goes here*/
    display: inline-block;
    border-radius: 50%;
    width: 200px;
    position: absolute;
    top: 65%;
    left: 50%;
    right: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    }

    /*User name and bio */
    .profile-info {
    margin: 2em 0em 0em 0em;
    font-size: 15pt;
    align-items: center;
    text-align: center;
    }


    /*user buttons*/

      .button-container {
        text-align: center;
    }

    .rounded-button {
        border-radius: 40px;
        width: 10em;
        height: 3.5em;
        padding: 11.2px 20px;
        margin: 1em;
    }

  

    #tab-tool {
    align-items: center;
    margin-top: 2em;
    width: 100%;
    background: linear-gradient(to bottom,  blue, white);
    height: 100px;
    padding: 1em 0em 0.5em 0em;

}

.text-option {
    display: inline-block;
    font-size: 20pt;
    margin-left: 3em;
    text-align: center;
    padding: 0em 5em 0em 5em;
    cursor: pointer;
    color: black; 
}

#underlined {
    text-decoration: underline;  
}


/*post containers*/
  .rectangle {
    background-color: #d9d9d9;
    display: inline-block;
    width: 576px;
    height: 393px;
    margin: 3em 3em 3em 3em;

  }


  /*post box*/
  #post-box {
    background-color: #d9d9d9;
    border-radius: 25px;
    width: 800px;
    height: 600px;

   display: inline-block;
   position: absolute;
   top: 100%;
   left: 50%;
   right: 50%;
   transform: translate(-50%, -50%);
  }


  /*cancel button*/
  #cancel-post , #add-img{
    display: flex;
    width: 1.5em;
    margin-left: 740px;
    padding-top: 1.50em;
  }


  /*X button to close pop-up*/
  #cancel-post {
    align-items: right;
    display: flex;
    width: 1.5em;
    margin-left: 740px;
    padding-top: 1.50em;
  }


  /*clickable add image option*/

  #add-img {
    width: 2em;
    margin-top: 400px;
    display: flex;
    width: 1.5em;
    margin-left: 740px;
    padding-top: 1.50em;
 
  }

  #textbox {
    border: none;
    background-color: inherit;

  }

  #textbox-container {
    padding-left: 3em;
  }



  

