

  #registration{
    background-color: rgb(232, 230, 230);
    width: 50%; 
    margin: auto; 
    padding: 20px; 
    margin-top: 5em;
    margin-bottom: 5em;
    align-items: center;
    justify-content: center;
}

#registration .input-field{
    width: 50%;
    /* margin: 0.75em; */
}

#button-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-container .button{
  margin:0;
  margin-top: 1em;
  float:none;
}
.home {
    float: left;
    text-align: left;
    height: 100px;
    margin-left: 2em;
}

.login {
    text-align: right;
    font-size: 2em;
    height: 100px;
    justify-content: right;
    align-items: center;
    display: flex;
    margin-right: 2em;
}

.login a{
    color: #EEF5FC;
}

header{
    height: fit-content;
}

#wrong_pass_alert{
  display: flex;
  justify-content: center;
    align-items: center;
}
