
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.container{
  display: flex;
  width: 1200px;
  margin: auto;
}
nav {
    position: fixed;
    top: 130px;
    left: 0;
    bottom: 0;
    width: 90px;
    background: #fff;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
  }
.navbar{
  width: 80%;
  margin: 0 auto;
}

.logo {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 1em;
    transform: translate(0.625em, 2em);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  
.logo img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo h1{
  margin-left: 1rem;
  text-transform: uppercase;
}

.navlinks{
    position: relative;
    font-size: 14px;
    display: table;
    width:300px;
    padding:10px;
}

ul{
  margin: 0 auto;
}
li{
  padding-bottom: 2rem;
}
li a{
  font-size: 16px;
  color: rgb(85, 83, 83);
}
nav i{
  width: 50px;
  font-size: 18px;
  text-align: center;
}

.fas{
    position: relative;
    width:70px;
    height: 40px;
    top:14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position: relative;
    top:0.7500em;
    margin-left: 0.6250em;
}

.navlinks:hover, .logout_sidebar:hover{
  background-color: #D27FE0;
}
.logo:hover + nav{
    width:300px;
    transition: all 0.5s ease;
}

.logout_sidebar{
  position: absolute;
  bottom: 20px;
  width:300px;
}


.navlinks.active {
  background-color: #D27FE0;
}